---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    {% if page.layout == 'page' %}
    <div class="post-meta text-muted">
        <span>
          {{ site.data.locales[lang].post.posted }}
          {% include datetime.html date=page.date tooltip=true lang=lang %}
          <a href="{{ site.github.repository_url }}/blob/gh-pages/{{ page.relative_path }}">Edit</a>
        </span>
    </div>
    {% endif %}
    <div class="content">
      {{ content }}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>
